body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

input,
label {
  margin-top: 10px;
  margin-bottom: 5px;
}

button {
  position: relative;
  left: 15px;
}

section {
  background-color: gray;
}
